#sidebar {
    width: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #263238;
    color: #ffff;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

.AnchorSideBar {
    margin-left: 7%;
}

#sidebar .NAV .AnchorSideBar {
    background: none;
    color: black;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.2s ease;
}

#sidebar .NAV:hover {
    border: 1px solid #455A64;
    background-color: #263238;
}

#sidebar .NAV .AnchorSideBar:hover {
    background: none;
    color: white;
    font-size: 16px;
}

#sidebar .nav .AnchorSideBar i {
    margin-right: 16px;
}