#sidebar {
    float: left;
    width: 250px;
    overflow-y: auto;
    height: 333.5vh;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #263238;
    color: #ffff;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

#sidebar .nav .AnchorSideBar {
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 14px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
}

#sidebar .nav .AnchorSideBar:hover {
    background: none;
    color: #ECEFF1;
}

#sidebar .nav .AnchorSideBar i {
    margin-right: 16px;
}